#box{
    width: 75%;
    height: 800px;
    background-color: aquamarine;
    position: relative;
    border: 5px solid red;
    
}

body{
    display: flex;
    justify-content: center;
}

#character{
    width: 75px;
    height: 100px;
    color: orange;
    position: absolute;
}